// Variables
// --------------------

//== Global colors for use

$color-black:               #000000 !default;
$color-white:               #ffffff !default;
$color-peach-cream:         #FFF4ED !default;
$color-green-velvet:        #07260B !default;
$color-gold:                #B28A3D!default;
$color-red-punch:           #BD311C!default;


//== Font size
$font-size-base:      14px !default;
$font-h1:             42px !default;
$font-h2-mobile:      32px !default;
$font-h2-desktop:     42px !default;
$font-h3:             24px !default;
$font-h4:             51px !default;
$font-h5:             20px !default;
$font-h6:             10px !default;
$font-size-button:    16px !default;
$font-size-small:     12px !default;
$paragraph:           16px !default;
$font-10:             10px !default;

//== line-height
$line-height-base:  1; 

//== Resolutions
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$phone: 320px;

$minHeight800  : 800px;
$minHeight1500 : 1500px;
$maxHeight900  : 900px;
$maxHeight1300 : 1300px;
$maxHeight1600 : 1600px;


//== BREAKPOINTS
@mixin phone {
	@media (min-width: #{$phone}) {
        @content;
    }
}
@mixin tablet {
	@media (min-width: #{$tablet}) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


@mixin minHeight800 {
    @media screen and  (min-height: #{$minHeight800}) {
        @content;
    }
}
@mixin minHeight1500 {
    @media (min-height: #{$minHeight1500}) {
        @content;
    }
}
@mixin maxHeight900 {
    @media (min-height: #{$maxHeight900}) {
        @content;
    }
}
@mixin maxHeight1300 {
    @media (min-height: #{$maxHeight1300}) {
        @content;
    }
}
@mixin maxHeight1600 {
    @media (min-height: #{$maxHeight1600}) {
        @content;
    }
}

// Animation Settings
$transition-duration: .3s;
// $transition-timing: $ease-in-out-quad;


// Z-Index Management
$elements: content,
section-header,
header,
theme-song,
modal;


// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;


// Font Sizes
$base-font-size: ms(1);


// Other Sizes
$base-border-radius: .2em;
$base-spacing: $base-line-height * 1em;
$outer-margin: 1.5rem;




// Background Color
$base-background-color: $color-white;


// Font Colors
$base-font-color: $color-peach-cream;
$reverse-font-color: $color-green-velvet;

// Accent Colors
$base-accent-color: $color-gold;
$secondary-accent-color: $color-red-punch;
$tertiary-accent-color: $color-green-velvet;


// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-link-color, 10%);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;


// Borders
$base-border-color: $base-accent-color;
$base-border: 1px solid $base-border-color;


// Box Shadow
$base-box-shadow: 0 10px 20px rgba(black, 0.3);

// Gradients
$base-linear-gradient: linear-gradient($base-font-color, transparent);